<div id="body-page">

  <div class="row no-margin">

    <div class="container__page">

      <div class="other-page">
        <div class="container text-center">
          <ul class="list-inline">
            <li><a ui-sref="singlepage.about" ui-sref-active="active">About</a></li>
            <li><a ui-sref="singlepage.career" ui-sref-active="active">Career</a></li>
            <li><a ui-sref="singlepage.term" ui-sref-active="active">Terms of Conditions</a></li>
            <li><a ui-sref="singlepage.privacy" ui-sref-active="active">Privacy</a></li>
            <li><a ui-sref="singlepage.faq" ui-sref-active="active">FAQ</a></li>
            <li><a ui-sref="singlepage.contact" ui-sref-active="active">Contact Us</a></li>
          </ul>
        </div>
      </div>

      <div class="container">

        <br>
        <br>
        <br>
        <br>

        <div class="content">

          <h1 class="text-center no-margin" style="font-size: 150px;"><b>403</b></h1>
          <h4 class="text-center">Forbidden</h4>
          <span class="sr-only">Error:</span>
          You are not authorized to access this resource

        </div>

      </div>

    </div>

  </div>

</div>
