<nav class="navbar navbar-default navbar-dashboard" ng-controller="HeaderController" >
    <div class="container-fluid container-custom">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Tech Talent Asia</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="HomeController">
            <form class="navbar-form navbar-left" role="search" ng-submit="search()">
                <div class="form-group">
                    <!--<tags-input ng-model="tags" add-on-space="true" add-on-comma="true"-->
                                <!--class="form-control input-custom" placeholder="Search" max-tags="2"-->
                                <!--limit-tags></tags-input>-->
                    <input name="q" type="text" ng-model="q" value="{{ q }}" ng-change="search()" class="form-control input-custom" placeholder="Search">
                    <a href="#" class="dropdown-toggle" id="dropdownSort" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-sort-alpha-asc"></i>
                    </a>
                    <ul class="dropdown-menu dropdown__user--sort clearfix font-gray" aria-labelledby="dropdownSort">
                        <div class="caret-up"></div>
                        <div class="row no-margin">
                            <div class="col-md-6 no-padding">
                                <ul class="no-padding">
                                    <li>
                                        <a href="" class="font-gray">HTML5</a>
                                    </li>
                                    <li>
                                        <a href="" class="font-gray">CSS3</a>
                                    </li>
                                    <li>
                                        <a href="" class="font-gray">Javascript</a>
                                    </li>
                                    <li>
                                        <a href="" class="font-gray">AngularJS</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 no-padding">
                                <ul class="no-padding">
                                    <li>
                                        <a href="" class="font-gray">PHP</a>
                                    </li>
                                    <li>
                                        <a href="" class="font-gray">MysQl</a>
                                    </li>
                                    <li>
                                        <a href="" class="font-gray">NodeJS</a>
                                    </li>
                                    <li>
                                        <a href="" class="font-gray">MongoDB</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <div class="wrapper-user" ng-if="!isAuthenticated">
                    <div class="user-picture">
                        <img src="../../assets/img/users/1.jpg" alt="">
                    </div>
                    <span> Display Name </span>
                </div>
                <div class="wrapper-user" ng-if="authenticated.user">
                    <div class="user-picture">
                        <img src="{{ user.pictureImageUrl }}" alt="">
                    </div>
                    <span> {{ user.displayname }} </span>
                </div>

                <a href="" class="user-notif dropdown-toggle" id="dropdownNotif" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bell"></i>
                </a>

                <ul class="dropdown-menu dropdown__user--notif" aria-labelledby="dropdownNotif">
                    <!-- <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">News</button>
                        <button type="button" class="btn btn-default">You</button>
                        <button type="button" class="btn btn-default">Messages</button>
                    </div> -->
                    <div class="caret-up"></div>
                    <div class="dropdown-header text-center">
                        <span>Notification</span>
                    </div>
                    <li role="separator" class="divider no-margin"></li>
                    <div class="dropdown-body clearfix">
                        <!-- looping here -->
                        <li>
                            <a href="">
                                <div class="dropdown-body--left pull-left">
                                    <img src="../../assets/img/users/3.jpg" alt="">
                                </div>
                                <div class="dropdown-body--right">
                                    <p class="no-margin font-gray"><strong>Gifa Eriyanto, Alfian Saputra </strong> and
                                        13 others started following you</p>
                                    <span class="font-gray"> <i class="fa fa-clock-o"></i> 3 days ago</span>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <div class="dropdown-body--left pull-left">
                                    <img src="../../assets/img/users/4.jpg" alt="">
                                </div>
                                <div class="dropdown-body--right">
                                    <p class="no-margin font-gray"><strong>Anwar</strong> confirm your invite request
                                    </p>
                                    <span class="font-gray"> <i class="fa fa-clock-o"></i> 4 days ago</span>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <div class="dropdown-body--left pull-left">
                                    <img src="../../assets/img/users/2.jpg" alt="">
                                </div>
                                <div class="dropdown-body--right">
                                    <p class="no-margin font-gray"><strong>Hansen Makangiras, Andhry Ex Kobe </strong>
                                        and 8 others started following you</p>
                                    <span class="font-gray"> <i class="fa fa-clock-o"></i> 5 days ago</span>
                                </div>
                            </a>
                        </li>

                    </div>
                </ul>
                 <a href="/api/auth/signout" class="user-notif">Sign Out</a>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- <link rel="stylesheet" href="assets/libs/tag-it/css/jquery.tagit.css">
<script src="assets/libs/tag-it/js/tag-it.js"> </script> -->
