<nav class="navbar navbar-default navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Tech Talent Asia</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="" id="bs-example-navbar-collapse-1" ng-controller="LoginController as login">

            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!login.isAuthenticated"><a href="" class="navbar-signup" data-toggle="modal" data-target="#modalRegister">Sign Up</a></li>
                <li ng-if="!login.isAuthenticated"><a href="/login">Log In</a></li>
                <li ng-if="login.isAuthenticated"><a href="#" ng-click="login.logout()"><!--{{ login.user.username }} ,--> Log Out</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
	