<nav class="navbar navbar-default navbar-custom">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        <img class="logo" ng-src="/modules/core/client/img/logo_techtalent.png" alt="Tech Talent Logo" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="authentication.signup" class="navbar-signup">Sign Up</a></li>
        <li><a ui-sref="authentication.signin">Log In</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<people></people>

<div class="clearfix"></div>

<div class="col-md-12 text-center copyright-techtalent">
  &copy; copyright 2015 <a href="http://www.techtalent.asia/">techtalent.asia</a>
</div>



