<div class="top-absolute">
    <div class="users">

        <div class="wrapper">
            <div onclick="profile(this)" class="user hexagon hexagon-1 wow bounceIn" data-wow-delay=".2s"></div>

            <div class="profile wow fadeIn">
                <ul class="list-unstyled">
                    <li class="sub">
                        <b>Hello!</b>, My name is
                        <h1 class="name">Gifa Eriyanto</h1>
                    </li>
                    <li class="sub">
                        <h4>Biodata</h4>
                        <ul class="list-unstyled">
                            <li><label>Address</label>: Jl. Petterani Kompleks IDI G8</li>
                            <li><label>Telp</label>: 08123456789</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <h4>Skill</h4>
                        <ul class="list-inline tag">
                            <li>HTML5</li>
                            <li>jQuery</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>React</li>
                            <li>PHP</li>
                            <li>Laravel</li>
                            <li>Python</li>
                            <li>C#</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <ul class="list-inline">
                            <li ng-if="!login.loggedIn" class="no-padding">
                                <a href="" class="btn-custom" data-toggle="modal" data-target="#modalRegister">Connect</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <div onclick="profile(this)" class="user hexagon hexagon-2 wow bounceIn" data-wow-delay=".4s"></div>

            <div class="profile wow fadeIn">
                <ul class="list-unstyled">
                    <li class="sub">
                        <b>Hello!</b>, My name is
                        <h1 class="name">Gifa</h1>
                    </li>
                    <li class="sub">
                        <h4>Biodata</h4>
                        <ul class="list-unstyled">
                            <li><label>Address</label>: Jl. Petterani Kompleks IDI G8</li>
                            <li><label>Telp</label>: 08123456789</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <h4>Skill</h4>
                        <ul class="list-inline tag">
                            <li>HTML5</li>
                            <li>jQuery</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>React</li>
                            <li>PHP</li>
                            <li>Laravel</li>
                            <li>Python</li>
                            <li>C#</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <ul class="list-inline">
                            <li ng-if="!login.loggedIn" class="no-padding">
                                <a href="" class="btn-custom" data-toggle="modal" data-target="#modalRegister">Connect</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <div onclick="profile(this)" class="user hexagon hexagon-3 wow bounceIn" data-wow-delay=".6s"></div>

            <div class="profile wow fadeIn">
                <ul class="list-unstyled">
                    <li class="sub">
                        <b>Hello!</b>, My name is
                        <h1 class="name">Gifa Eriyanto</h1>
                    </li>
                    <li class="sub">
                        <h4>Biodata</h4>
                        <ul class="list-unstyled">
                            <li><label>Address</label>: Jl. Petterani Kompleks IDI G8</li>
                            <li><label>Telp</label>: 08123456789</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <h4>Skill</h4>
                        <ul class="list-inline tag">
                            <li>HTML5</li>
                            <li>jQuery</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>React</li>
                            <li>PHP</li>
                            <li>Laravel</li>
                            <li>Python</li>
                            <li>C#</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <ul class="list-inline">
                            <li ng-if="!login.loggedIn" class="no-padding">
                                <a href="" class="btn-custom" data-toggle="modal" data-target="#modalRegister">Connect</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <div onclick="profile(this)" class="user hexagon hexagon-4 wow bounceIn" data-wow-delay=".8s"></div>

            <div class="profile wow fadeIn">
                <ul class="list-unstyled">
                    <li class="sub">
                        <b>Hello!</b>, My name is
                        <h1 class="name">Gifa Eriyanto</h1>
                    </li>
                    <li class="sub">
                        <h4>Biodata</h4>
                        <ul class="list-unstyled">
                            <li><label>Address</label>: Jl. Petterani Kompleks IDI G8</li>
                            <li><label>Telp</label>: 08123456789</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <h4>Skill</h4>
                        <ul class="list-inline tag">
                            <li>HTML5</li>
                            <li>jQuery</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>React</li>
                            <li>PHP</li>
                            <li>Laravel</li>
                            <li>Python</li>
                            <li>C#</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <ul class="list-inline">
                            <li ng-if="!login.loggedIn" class="no-padding">
                                <a href="" class="btn-custom" data-toggle="modal" data-target="#modalRegister">Connect</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <div onclick="profile(this)" class="user hexagon hexagon-5 wow bounceIn" data-wow-delay=".2s"></div>

            <div class="profile wow fadeIn">
                <ul class="list-unstyled">
                    <li class="sub">
                        <b>Hello!</b>, My name is
                        <h1 class="name">Gifa Eriyanto</h1>
                    </li>
                    <li class="sub">
                        <h4>Biodata</h4>
                        <ul class="list-unstyled">
                            <li><label>Address</label>: Jl. Petterani Kompleks IDI G8</li>
                            <li><label>Telp</label>: 08123456789</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <h4>Skill</h4>
                        <ul class="list-inline tag">
                            <li>HTML5</li>
                            <li>jQuery</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>React</li>
                            <li>PHP</li>
                            <li>Laravel</li>
                            <li>Python</li>
                            <li>C#</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <ul class="list-inline">
                            <li ng-if="!login.loggedIn" class="no-padding">
                                <a href="" class="btn-custom" data-toggle="modal" data-target="#modalRegister">Connect</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <div onclick="profile(this)" class="user hexagon hexagon-6 wow bounceIn" data-wow-delay=".4s"></div>

            <div class="profile wow fadeIn">
                <ul class="list-unstyled">
                    <li class="sub">
                        <b>Hello!</b>, My name is
                        <h1 class="name">Gifa Eriyanto</h1>
                    </li>
                    <li class="sub">
                        <h4>Biodata</h4>
                        <ul class="list-unstyled">
                            <li><label>Address</label>: Jl. Petterani Kompleks IDI G8</li>
                            <li><label>Telp</label>: 08123456789</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <h4>Skill</h4>
                        <ul class="list-inline tag">
                            <li>HTML5</li>
                            <li>jQuery</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>React</li>
                            <li>PHP</li>
                            <li>Laravel</li>
                            <li>Python</li>
                            <li>C#</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <ul class="list-inline">
                            <li ng-if="!login.loggedIn" class="no-padding">
                                <a href="" class="btn-custom" data-toggle="modal" data-target="#modalRegister">Connect</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <div onclick="profile(this)" class="user hexagon hexagon-7 wow bounceIn" data-wow-delay=".6s"></div>

            <div class="profile wow fadeIn">
                <ul class="list-unstyled">
                    <li class="sub">
                        <b>Hello!</b>, My name is
                        <h1 class="name">Gifa Eriyanto</h1>
                    </li>
                    <li class="sub">
                        <h4>Biodata</h4>
                        <ul class="list-unstyled">
                            <li><label>Address</label>: Jl. Petterani Kompleks IDI G8</li>
                            <li><label>Telp</label>: 08123456789</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <h4>Skill</h4>
                        <ul class="list-inline tag">
                            <li>HTML5</li>
                            <li>jQuery</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>React</li>
                            <li>PHP</li>
                            <li>Laravel</li>
                            <li>Python</li>
                            <li>C#</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <ul class="list-inline">
                            <li ng-if="!login.loggedIn" class="no-padding">
                                <a href="" class="btn-custom" data-toggle="modal" data-target="#modalRegister">Connect</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <div onclick="profile(this)" class="user hexagon hexagon-8 wow bounceIn" data-wow-delay=".8s"></div>

            <div class="profile wow fadeIn">
                <ul class="list-unstyled">
                    <li class="sub">
                        <b>Hello!</b>, My name is
                        <h1 class="name">Gifa Eriyanto</h1>
                    </li>
                    <li class="sub">
                        <h4>Biodata</h4>
                        <ul class="list-unstyled">
                            <li><label>Address</label>: Jl. Petterani Kompleks IDI G8</li>
                            <li><label>Telp</label>: 08123456789</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <h4>Skill</h4>
                        <ul class="list-inline tag">
                            <li>HTML5</li>
                            <li>jQuery</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>React</li>
                            <li>PHP</li>
                            <li>Laravel</li>
                            <li>Python</li>
                            <li>C#</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <ul class="list-inline">
                            <li ng-if="!login.loggedIn" class="no-padding">
                                <a href="" class="btn-custom" data-toggle="modal" data-target="#modalRegister">Connect</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <div onclick="profile(this)" class="user hexagon hexagon-9 wow bounceIn" data-wow-delay=".2s"></div>

            <div class="profile wow fadeIn">
                <ul class="list-unstyled">
                    <li class="sub">
                        <b>Hello!</b>, My name is
                        <h1 class="name">Gifa Eriyanto</h1>
                    </li>
                    <li class="sub">
                        <h4>Biodata</h4>
                        <ul class="list-unstyled">
                            <li><label>Address</label>: Jl. Petterani Kompleks IDI G8</li>
                            <li><label>Telp</label>: 08123456789</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <h4>Skill</h4>
                        <ul class="list-inline tag">
                            <li>HTML5</li>
                            <li>jQuery</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>React</li>
                            <li>PHP</li>
                            <li>Laravel</li>
                            <li>Python</li>
                            <li>C#</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <ul class="list-inline">
                            <li ng-if="!login.loggedIn" class="no-padding">
                                <a href="" class="btn-custom" data-toggle="modal" data-target="#modalRegister">Connect</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <div onclick="profile(this)" class="user hexagon hexagon-10 wow bounceIn" data-wow-delay=".4s"></div>

            <div class="profile wow fadeIn">
                <ul class="list-unstyled">
                    <li class="sub">
                        <b>Hello!</b>, My name is
                        <h1 class="name">Gifa Eriyanto</h1>
                    </li>
                    <li class="sub">
                        <h4>Biodata</h4>
                        <ul class="list-unstyled">
                            <li><label>Address</label>: Jl. Petterani Kompleks IDI G8</li>
                            <li><label>Telp</label>: 08123456789</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <h4>Skill</h4>
                        <ul class="list-inline tag">
                            <li>HTML5</li>
                            <li>jQuery</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>React</li>
                            <li>PHP</li>
                            <li>Laravel</li>
                            <li>Python</li>
                            <li>C#</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <ul class="list-inline">
                            <li ng-if="!login.loggedIn" class="no-padding">
                                <a href="" class="btn-custom" data-toggle="modal" data-target="#modalRegister">Connect</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <div onclick="profile(this)" class="user hexagon hexagon-11 wow bounceIn" data-wow-delay=".6s"></div>

            <div class="profile wow fadeIn">
                <ul class="list-unstyled">
                    <li class="sub">
                        <b>Hello!</b>, My name is
                        <h1 class="name">Gifa Eriyanto</h1>
                    </li>
                    <li class="sub">
                        <h4>Biodata</h4>
                        <ul class="list-unstyled">
                            <li><label>Address</label>: Jl. Petterani Kompleks IDI G8</li>
                            <li><label>Telp</label>: 08123456789</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <h4>Skill</h4>
                        <ul class="list-inline tag">
                            <li>HTML5</li>
                            <li>jQuery</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>React</li>
                            <li>PHP</li>
                            <li>Laravel</li>
                            <li>Python</li>
                            <li>C#</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <ul class="list-inline">
                            <li ng-if="!login.loggedIn" class="no-padding">
                                <a href="" class="btn-custom" data-toggle="modal" data-target="#modalRegister">Connect</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <div onclick="profile(this)" class="user hexagon hexagon-12 wow bounceIn" data-wow-delay=".8s"></div>

            <div class="profile wow fadeIn">
                <ul class="list-unstyled">
                    <li class="sub">
                        <b>Hello!</b>, My name is
                        <h1 class="name">Gifa Eriyanto</h1>
                    </li>
                    <li class="sub">
                        <h4>Biodata</h4>
                        <ul class="list-unstyled">
                            <li><label>Address</label>: Jl. Petterani Kompleks IDI G8</li>
                            <li><label>Telp</label>: 08123456789</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <h4>Skill</h4>
                        <ul class="list-inline tag">
                            <li>HTML5</li>
                            <li>jQuery</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>React</li>
                            <li>PHP</li>
                            <li>Laravel</li>
                            <li>Python</li>
                            <li>C#</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <ul class="list-inline">
                            <li ng-if="!login.loggedIn" class="no-padding">
                                <a href="" class="btn-custom" data-toggle="modal" data-target="#modalRegister">Connect</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <div onclick="profile(this)" class="user hexagon hexagon-13 wow bounceIn" data-wow-delay=".2s"></div>

            <div class="profile wow fadeIn">
                <ul class="list-unstyled">
                    <li class="sub">
                        <b>Hello!</b>, My name is
                        <h1 class="name">Gifa Eriyanto</h1>
                    </li>
                    <li class="sub">
                        <h4>Biodata</h4>
                        <ul class="list-unstyled">
                            <li><label>Address</label>: Jl. Petterani Kompleks IDI G8</li>
                            <li><label>Telp</label>: 08123456789</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <h4>Skill</h4>
                        <ul class="list-inline tag">
                            <li>HTML5</li>
                            <li>jQuery</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>React</li>
                            <li>PHP</li>
                            <li>Laravel</li>
                            <li>Python</li>
                            <li>C#</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <ul class="list-inline">
                            <li ng-if="!login.loggedIn" class="no-padding">
                                <a href="" class="btn-custom" data-toggle="modal" data-target="#modalRegister">Connect</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <div onclick="profile(this)" class="user hexagon hexagon-14 wow bounceIn" data-wow-delay=".4s"></div>

            <div class="profile wow fadeIn">
                <ul class="list-unstyled">
                    <li class="sub">
                        <b>Hello!</b>, My name is
                        <h1 class="name">Gifa Eriyanto</h1>
                    </li>
                    <li class="sub">
                        <h4>Biodata</h4>
                        <ul class="list-unstyled">
                            <li><label>Address</label>: Jl. Petterani Kompleks IDI G8</li>
                            <li><label>Telp</label>: 08123456789</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <h4>Skill</h4>
                        <ul class="list-inline tag">
                            <li>HTML5</li>
                            <li>jQuery</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>React</li>
                            <li>PHP</li>
                            <li>Laravel</li>
                            <li>Python</li>
                            <li>C#</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <ul class="list-inline">
                            <li ng-if="!login.loggedIn" class="no-padding">
                                <a href="" class="btn-custom" data-toggle="modal" data-target="#modalRegister">Connect</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <div onclick="profile(this)" class="user hexagon hexagon-15 wow bounceIn" data-wow-delay=".6s"></div>

            <div class="profile wow fadeIn">
                <ul class="list-unstyled">
                    <li class="sub">
                        <b>Hello!</b>, My name is
                        <h1 class="name">Gifa Eriyanto</h1>
                    </li>
                    <li class="sub">
                        <h4>Biodata</h4>
                        <ul class="list-unstyled">
                            <li><label>Address</label>: Jl. Petterani Kompleks IDI G8</li>
                            <li><label>Telp</label>: 08123456789</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <h4>Skill</h4>
                        <ul class="list-inline tag">
                            <li>HTML5</li>
                            <li>jQuery</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>React</li>
                            <li>PHP</li>
                            <li>Laravel</li>
                            <li>Python</li>
                            <li>C#</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <ul class="list-inline">
                            <li ng-if="!login.loggedIn" class="no-padding">
                                <a href="" class="btn-custom" data-toggle="modal" data-target="#modalRegister">Connect</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <div onclick="profile(this)" class="user hexagon hexagon-16 wow bounceIn" data-wow-delay=".8s"></div>

            <div class="profile wow fadeIn">
                <ul class="list-unstyled">
                    <li class="sub">
                        <b>Hello!</b>, My name is
                        <h1 class="name">Gifa Eriyanto</h1>
                    </li>
                    <li class="sub">
                        <h4>Biodata</h4>
                        <ul class="list-unstyled">
                            <li><label>Address</label>: Jl. Petterani Kompleks IDI G8</li>
                            <li><label>Telp</label>: 08123456789</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <h4>Skill</h4>
                        <ul class="list-inline tag">
                            <li>HTML5</li>
                            <li>jQuery</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>React</li>
                            <li>PHP</li>
                            <li>Laravel</li>
                            <li>Python</li>
                            <li>C#</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <ul class="list-inline">
                            <li ng-if="!login.loggedIn" class="no-padding">
                                <a href="" class="btn-custom" data-toggle="modal" data-target="#modalRegister">Connect</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <div onclick="profile(this)" class="user hexagon hexagon-17 wow bounceIn" data-wow-delay=".2s"></div>

            <div class="profile wow fadeIn">
                <ul class="list-unstyled">
                    <li class="sub">
                        <b>Hello!</b>, My name is
                        <h1 class="name">Gifa Eriyanto</h1>
                    </li>
                    <li class="sub">
                        <h4>Biodata</h4>
                        <ul class="list-unstyled">
                            <li><label>Address</label>: Jl. Petterani Kompleks IDI G8</li>
                            <li><label>Telp</label>: 08123456789</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <h4>Skill</h4>
                        <ul class="list-inline tag">
                            <li>HTML5</li>
                            <li>jQuery</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>React</li>
                            <li>PHP</li>
                            <li>Laravel</li>
                            <li>Python</li>
                            <li>C#</li>
                        </ul>
                    </li>
                    <li class="sub">
                        <ul class="list-inline">
                            <li ng-if="!login.loggedIn" class="no-padding">
                                <a href="" class="btn-custom" data-toggle="modal" data-target="#modalRegister">Connect</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<canvas id="connection" width="800px" height="600px" class="wow fadeIn" data-wow-delay=".3s">Your browser does not support the HTML5 canvas tag.</canvas>