
/*=====================================================
=            Hexagon for User Photo Profil            =
=====================================================*/
.hexagon {
  position: relative;
  width: 80px;
  height: 46.19px;
  background-color: #fff;
  background-size: auto 92.376px;
  background-position: center;
  box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
.hexagon .hexBottom {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: -10px 10px 35px #999; }
.hexagon:hover .hexBottom {
  box-shadow: -10px 10px 35px #666; }

.hexTop, .hexBottom {
  position: absolute;
  z-index: 1;
  width: 56.57px;
  height: 56.57px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 11.72px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px; }

/*counter transform the bg image on the caps*/
.hexTop:after, .hexBottom:after {
  content: "";
  position: absolute;
  border-radius: 10px !important;
  width: 80.0000px;
  height: 46.188021535170066px;
  -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-23.094px);
  -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-23.094px);
  transform: rotate(45deg) scaleY(1.7321) translateY(-23.094px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit; }

.hexTop {
  top: -24.2843px; }

.hexTop:after {
  background-position: center top;
  border-radius: 10px; }

.hexBottom {
  bottom: -32.2843px; }

.hexBottom:after {
  background-position: center bottom;
  border-radius: 10px; }

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 80.0000px;
  height: 54.1880px;
  z-index: 2;
  background: inherit;
  border-radius: 10px; }

/*=====================================================
=     			        Profil          			  =
=====================================================*/
.profile {
  color: #333;
  margin-left: 230px;
  padding-top: 100px;
  display: none;
  max-width: 350px; }
.profile .name {
  font-size: 18px;
  font-family: "Helvetica-Bold";
  margin: 0;
  display: inline-block; }
.profile .sub {
  padding: 10px; }
.profile .sub h4 {
  font-size: 14px;
  font-family: "Helvetica-Bold";
  color: #999; }
.profile .sub .tag li {
  background: #FF8500;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  padding: 3px 5px;
  margin-bottom: 3px; }
.profile .sub label {
  display: inline-block;
  width: 100px; }
.profile .btn-custom {
  min-width: 100px; }