<div class="row no-margin" ng-controller="AuthenticationController">

   <!--  <h3 class="col-md-12 text-center">
        <a ui-sref="home" class="logo">Tech Talent Asia</a>
    </h3> -->
    <div ui-view></div>
    <!-- <div class="text-center">
        <p class="col-md-12 text-center"><strong><em>Or Sign In Using Your Account</em></strong></p>

        <button ng-click="callOauthProvider('/api/auth/google')" class="btn-sosmed btn-sosmed-google"><i class="fa fa-google-plus"></i>Sign in with Google</button>
        <button ng-click="callOauthProvider('/api/auth/google')" class="btn-sosmed btn-sosmed-linkedin"><i class="fa fa-linkedin"></i>Sign in with LinkedIn</button>
    </div>
 -->
</div>
