<div id="body-page" ng-controller="AuthenticationController">
  <div class="row no-margin">
    <div class="col-md-4 col-centered text-center container__signlog">
      <div class="container__signlog--form">
        <a ui-sref="home">
          <img ng-src="modules/core/client/img/logo_techtalent.png" class="logo" alt="Tech Talent Logo" height="20px" />
        </a>
        <button ng-click="callOauthProvider('/api/auth/linkedin')"
                class="btn btn-default btn-signlog btn-signlog-linkedin mb-10 center-block">
          <i class="fa fa-linkedin-square"></i> Login with Linkedin
        </button>
        <button ng-click="callOauthProvider('/api/auth/google')"
                class="btn btn-default btn-signlog btn-signlog-google center-block">
          <i class="fa fa-google-plus-square"></i> Login with Google+
        </button>
        <hr>
        <span><strong><em>OR</em></strong></span>
        <div ui-view></div>
      </div>
    </div>
  </div>
</div>
