<!-- include body of page here -->
<form method="post"
      class="ng-invalid ng-invalid-required"
      ng-submit="signin()"
      name="userForm"
      novalidate
      autocomplete="off" ng-controller="AuthenticationController">
  <div class="form-group" show-errors>
    <input type="text"
           id="username"
           class="form-control input-custom mb-10"
           placeholder="Username"
           name="username"
           ng-model="credentials.username"
           lowercase
           required
           autofocus>
    <p class="error" ng-show="userForm.username.$touched && userForm.username.$invalid">The username is required</p>
  </div>
  <div class="form-group" show-errors>
    <input type="password"
           class="form-control input-custom"
           placeholder="Password"
           name="password"
           ng-model="credentials.password"
           required>
    <p class="error" ng-show="userForm.password.$touched && userForm.password.$invalid">The password is required</p>
  </div>
  <a ui-sref="password.forgot" class="forgot">Forgot Password?</a><br>
  <div class="wrapper__button">
    <button type="submit" class="pull-left ml-10 text-uppercase"><b>Login</b></button>
    <a ui-sref="authentication.signup" class="pull-right mr-10 text-uppercase"><b>Sign Up</b></a>
  </div>
  <!-- <div ng-show="error" class="alert alert-danger text-center text-danger">
    <span>{{ error }}</span>
  </div> -->
</form>

