<!-- include body of page here -->
<form method="post" ng-submit="signup()" name="userForm" class="ng-invalid ng-invalid-required" ng-controller="AuthenticationController">
  <div class="form-group">
    <input type="text"
           class="form-control input-custom mb-10"
           placeholder="First Name"
           name="firstName"
           ng-model="credentials.firstName">
  </div>
  <div class="form-group" show-errors>
    <input type="text"
           class="form-control input-custom mb-10"
           placeholder="Last Name"
           name="lastName"
           ng-model="credentials.lastName">
  </div>
  <div class="form-group" show-errors>
    <input type="text"
           class="form-control input-custom mb-10"
           placeholder="Username"
           name="username"
           ng-model="credentials.username"
           required
           autofocus>
  </div>
  <div class="form-group">
    <input type="email"
           class="form-control input-custom mb-10"
           placeholder="Email"
           name="email"
           ng-model="credentials.email"
           required>
  </div>
  <div class="form-group" show-errors>
    <input type="password"
           popover="{{popoverMsg}}"
           popover-trigger="focus"
           password-validator
           class="form-control input-custom"
           placeholder="Password"
           name="password"
           ng-model="credentials.password"
           required>
  </div>
  <div class="wrapper__button">
    <button type="submit" class="pull-left ml-10 text-uppercase"><b>Sign Up</b></button>
    <a ui-sref="authentication.signin" class="pull-right mr-10 text-uppercase"><b>Login</b></a>
  </div>
  <!--<div class="alert alert-danger text-center text-danger" ng-show="error">-->
    <!--<span ng-bind="error"></span>-->
  <!--</div>-->
</form>